.menu {
	-fx-background-color: transparent;
}

.menu-button .arrow {
	-fx-background-color: transparent;
}

.menu-button > .arrow-button {
	-fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
	-fx-padding: 0;
}

.menu-item {
	-fx-text-fill: #e01a4f;
	-fx-background-color: #2d2c32;
	-fx-background-radius: 50%;
	-fx-alignment: center;
}

.menu-item:hover {
	-fx-background-color: #e2abdd;
}

.button {
	-fx-background-color:  #2d2c32;
	-fx-background-radius: 50%;
}