.scroll-pane {
    -fx-background-color: #2C2C32;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .track-background {
    -fx-background-color: #2C2C32;

}

.scroll-pane .thumb {
	-fx-background-color: #e01a4f;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
}

.scroll-pane .track {
    -fx-background-color: transparent;
}

.tags-pane {
    -fx-background-color: transparent;
}

.tags-pane .tag-button {
    -fx-padding: 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-content-display: right;
    -fx-background-color: #1E1E24;
    -fx-graphic-text-gap: 10;
    -fx-graphic: url('./../icons/add-icon.png');
}

.tags-pane .tag-button:selected {
    -fx-background-color: #E01A4F;
    -fx-graphic: url('./../icons/remove-icon.png')
}