TextField {
    -fx-background-color: #3A3A4B;
    -fx-text-fill: #e01a4f;
    -fx-prompt-text-fill: #dd4970;
    -fx-background-radius: 20;
}

Button {
    -fx-background-color: #3A3A4B;
    -fx-text-fill: #e01a4f;
    -fx-background-radius: 20;
}

ScrollPane {
    -fx-background-color: #3A3A4B;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

ScrollPane .viewport {
    -fx-background-color: transparent;
}

ScrollPane .track-background {
    -fx-background-color: #3A3A4B;
}

ScrollPane .thumb {
	-fx-background-color: #e01a4f;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
}

ScrollPane .track {
    -fx-background-color: transparent;
}

FlowPane {
    -fx-background-color: transparent;
}

.root {
    -fx-background-color: #1e1e24;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}